#clickDisplay{
  border: 5px rgb(36, 0, 0) solid;
  min-width: 1200px;
  background-color: bisque;
}

#pupHeader{
  text-decoration: underline;
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
